@model QuanLySanBong.Models.YardDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YardDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayGround)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayGround.PlayGroundId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubYard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubYard.SubYardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot.TimeSlotId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YardDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
